body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 30px;
  color: $color-grey-dark;
}

.header__title--primary,
.header__title--secondary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.header__title--primary {
  font-size: 6rem;
  line-height: 8rem;
  letter-spacing: 35px;
  font-weight: 400;

  animation: moveInLeft 1s ease-out;
}

.header__title--secondary {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 17.5px;
  font-weight: 700;
  margin-bottom: 60px;

  animation: moveInRight 1s ease-out;
}

.section-about__title--primary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.section-about__title--tertiary {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-about__description {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
